.flxp, .flxp-rcc {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: nowrap; 
}
.flxp-rcs {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: stretch;
    flex-wrap: nowrap; 
}
.flxp-rss {
    display: flex; 
    flex-direction: row;
    justify-content: stretch; 
    align-items: stretch;
    flex-wrap: nowrap; 
}
.flxp-rsc {
    display: flex; 
    flex-direction: row;
    justify-content: stretch; 
    align-items: center;
    flex-wrap: nowrap; 
}
.flxp-ccc {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    flex-wrap: nowrap; 
}
.flxp-ccs {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: stretch;
    flex-wrap: nowrap; 
}
.flxp-css {
    display: flex; 
    flex-direction: column;
    justify-content: stretch; 
    align-items: stretch;
    flex-wrap: nowrap; 
}
.flxp-csc {
    display: flex; 
    flex-direction: column;
    justify-content: stretch; 
    align-items: center;
    flex-wrap: nowrap; 
}
.flxp_rstt {
    display: flex; 
    flex-direction: row;
    justify-content: stretch; 
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap; 
}

.flxc, .flxc-1 {
    flex: 1; 
}
.flxc-2 {
    flex: 2; 
}
.flxc-3 {
    flex: 3; 
}