<html>

<head>
    <title>Under Bangs (瀏海下的秘密) (originally: playard)</title>
    <link rel="stylesheet" type="text/css" href="flex.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="vue.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body onload="init()">
    <div id="ribody" class="flxp-rcs">
        <!-- <div id="divWelcome" class="div-full flxc">
            <input type="text" id="txtJoinIP" />
            <a id="btnJoin" onclick="join()">Join</a>
            <a id="btnHost" onclick="hostgame()">Host</a>
        </div> -->
        <!-- <div id="divYard" class="div-full focus flxc">
            <span v-for="player in client.game.players">
                {{player.number}} : {{player.url}}
            </span>
        </div> -->
        <div id="divGameRound" class="flxp-ccs section">
            <div id="divWelcome" class="flxp-ccs">
                <input type="text" id="txtURL" class="txt txt-center" value="9488" />
                <div class="flxp-rcs">
                    <span id="btnJoin" class="btn flxc" onclick="join()">Join</span>
                    <span id="btnHost" class="btn flxc" onclick="hostgame()">Host</span>
                </div>
            </div>
        </div>
        <div id="divPlayers" class="flxc">
            <div v-for="player in client.game.players">
                {{player.number}} : {{player.name}}
            </div>
        </div>
    </div>
</body>

</html>