body {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Cambria'; 
}
#ribody {
    width: 100%; 
    height: 100%; 
}
::selection {
    color: white; 
    background: grey; 
}
textarea, input {
    font-family: 'Cambria'; 
}
textarea:focus, input:focus{
    outline: none;
}

.btn {
    margin: 5px; 
    padding-top: 3px; 
    padding-bottom: 3px; 
    padding-left: 10px; 
    padding-right: 10px; 
    font-size: 14pt; 
    border-radius: 5px; 
    border: 2px solid black; 
    text-align: center;
    background: black; 
    user-select: none;
    color: white; 
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    background: white; 
    color: black; 
    transition: 0.5s;
}

.txt {
    margin: 5px; 
    padding: 3px; 
    font-size: 14pt; 
    border-radius: 5px; 
    border: 2px solid black; 
}
.txt-center {
    text-align: center; 
}

.lbl {
    margin: 5px; 
    padding: 3px; 
    font-size: 14pt; 
    word-break: break-all;
}

.section {
    padding: 20px; 
    background: #91C6AA; 
    box-shadow: 0px 0px 15px #91C6AA; 
}

.loading-stage {
    display: none; 
}
.loading-stage.focus {
    display: inherit;
}

.bandaid {
    margin: 5px; 
    padding-top: 3px; 
    padding-bottom: 3px; 
    padding-left: 10px; 
    padding-right: 10px; 
    font-size: 14pt; 
    text-align: center; 
    text-transform: uppercase; 
    border-radius: 5px; 
    background: black; 
    color: white;
    cursor: pointer; 
}

.stage__title {
    margin: 5px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 10px; 
    padding-right: 10px; 
    font-size: 16pt; 
    font-weight: bold;
    text-align: center; 
    border-radius: 5px; 
    border: 5px solid black; 
    background: white; 
    color: black;
    cursor: default; 
}

.player {
    margin: 10px; 
    padding: 10px; 
    border-radius: 5px; 
    border: 2px solid black; 
    background: #93ACE2; 
}
.player__img {
    width: 200px; 
    height: 200px; 
    margin: 5px; 
    border-radius: 5px; 
    border: 2px solid black; 
    background: lightgrey; 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.player__number {
    font-weight: bold; 
}
.player__name {
    font-size: 16pt; 
}
.player__note {
    resize: none; 
    min-height: 60px;
}
.player__question {
    cursor: pointer;
}

#divPlayers {
    padding: 20px; 
}